.mine{
    background-image:url("/Pictures/main\ pic.png") ;
}
.ttl{
    color:rgb(255, 255, 255);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
footer{
    background-image:url("/Pictures/main\ pic.webp") ;
}